[run]
source = .
omit =
    */migrations/*
    manage.py
    */__init__.py
    asgi.py
    wsgi.py
    urls.py
    middleware.py
    authentication/*
    settings*
    */tests/*
[report]
fail_under = 80