{% extends 'base.html' %}
{% block content %}
<h2>Clients:</h2>
<ul>
{% for client in clients %}
    <li>{{ client.first_name }} {{ client.last_name }} - {{ client.email }} -
        {{ client.sales_contact.username }}
        <a href="{% url 'edit-client' client.client_id %}"<span>&#128221;</span></a>
        <a href="{% url 'delete-client' client.client_id %}"<span>&#10060;</span></a>
    </li>
{% endfor %}
</ul>
<a href="{% url 'create-client' %}">Créer un nouveau client</a>
{% endblock content %}