{% extends 'base.html' %}
{% block content %}
<h2>Contrats:</h2>
<ul>
{% for contract in contracts %}
    <li>{{ contract.dateCreated }} - {{ contract.client.first_name }} - {{ contract.amount }} - {{ contract.client.last_name }} - {{ contract.sales_contact.username }}
    <a href="{% url 'edit-contract' contract.contract_id %}"<span>&#128221;</span></a>
    <a href="{% url 'delete-contract' contract.contract_id %}"<span>&#10060;</span></a>
    </li>
{% endfor %}
</ul>
<a href="{% url 'create-contract' %}">Créer un nouveau contrat</a>
{% endblock content %}